<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Authic</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css'>
  <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
  <link rel="stylesheet" href="/assets/matstyle.css">

</head>
<style>
    </style>
<body>


   <!-- partial -->
   <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
   <script src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js'></script>
   <!-- <script src='https://codepen.io/j_holtslander/pen/pLNzQb.js'></script> -->
   <script src="/assets/matscript.js"></script>

   <%- include('matuppernav.ejs') %> 
   <%- include('matlowernav.ejs') %>
   <%- include('qr/qrmodal.ejs') %>
   <%- include('qr/matscanner.ejs') %>

   <!-- <button class='open-transactionDialog' data-id='1234' data-target='modal1' >Get Transaction Details </button</td> -->

   
   <%- include('matfooter.ejs') %>






</script>



</html>
