<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Authic</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css'>
    <link rel="stylesheet" href="/assets/matstyle.css">

</head>
<style>
    html {
        scroll-behavior: smooth;
    }

    #hidethis {
        /* overflow-y: scroll; */
    }

    #product-detailss {
        /* overflow-y: visible; */

    }
</style>
<title>Welcome </title>

<body>

    <%- include('matuppernav.ejs') %>
        <%- include('matlowernav.ejs') %>
            <!-- <h3>List Of All Sold Products</h3> -->
            <%- include('soldtable.ejs') %>
                <%- include('gettransactiondetailssold.ejs') %>
                    <%- include('matfooter.ejs') %>
                        <!-- partial -->
                        <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js'></script>
                        <script
                            src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js'></script>
                        <!-- <script src='https://codepen.io/j_holtslander/pen/pLNzQb.js'></script> -->
                        <script src="/assets/matscript.js"></script>

</body>
<script src=”https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js”></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>

    //   document.addEventListener('DOMContentLoaded', function() {
    //     var elems = document.querySelectorAll('.sidenav');
    //     var instances = M.Sidenav.init(elems, options);
    //   });

    // Or with jQuery



    var actionUrl = "https://localhost:4500/totalsold";

    $(document).on("click", ".open-transactionDialog", function () {
        var product_id = $(this).data('id');
        const jsonn = {
            uid: product_id
        }

        $.ajax({
            type: "POST",
            data: jsonn,
            url: "https://localhost:4500/gettransactiondetailssold",
            success: function (data) {
                let dataa = data.success;
                console.log(dataa[0]['blockHash']);
                let blockHash = dataa[0]['blockHash'];
                let blockNumber = dataa[0]['blockNumber'];
                let cumulativeGasUsed = dataa[0]['cumulativeGasUsed'];
                let date = dataa[0]['date'];
                let from_address = dataa[0]['from_address'];
                let gasUsed = dataa[0]['gasUsed'];
                let to_address = dataa[0]['to_address'];
                let transactionHash = dataa[0]['transactionHash'];
                let transactionindex = dataa[0]['transactionIndex'];
                $('#blockHashing').val(blockHash);
                $('#blockNo').val(blockNumber);
                $('#cgu').val(cumulativeGasUsed);
                $('#td').val(date);
                $('#fa').val(from_address);
                $('#ta').val(to_address);
                $('#th').val(transactionHash);
                $('#gu').val(gasUsed);
                $('#ti').val(transactionindex);
            },
            error: function (error) {
                console.log("error here " + error);
            }
        });
        // $('#gettransactiondetailssold').modal('close');
        $('#gettransactiondetailssold').modal({
            // dismissible: false, // Modal can be dismissed by clicking outside of the modal
            opacity: .50, // Opacity of modal background
            inDuration: 300, // Transition in duration
            outDuration: 200, // Transition out duration
            startingTop: '4%', // Starting top style attribute
            endingTop: '10%', // Ending top style attribute
            ready: function (modal, trigger) { // Callback for Modal open. Modal and trigger parameters available.
                alert("Ready");
                console.log(modal, trigger);
            },
            complete: function () { alert('Closed'); } // Callback for Modal close
        }
        );


    });


    $.ajax({
        type: "POST",
        url: actionUrl,
        success: function (data) {
            // console.log(data);
            let dataa = data.sucess;





            function timeConverter(timee) {
                var s = new Date(timee).toLocaleDateString("en-IN");
                var s1 = new Date(timee).toLocaleTimeString("en-IN");
                return (s + " " + s1);
            }
            for (var i = 0; i < dataa.length; i += 1) {
                console.log(dataa[i]['manu_date'] * 1000);
                $("table").append("<tr><td>" + (i + 1) + "</td>" +
                    "<td>" + dataa[i]['product_id'] + "</td>" +
                    "<td>" + dataa[i]['bname'] + "</td>" +
                    "<td>" + dataa[i]['mobile'] + "</td>" +
                    "<td>" + dataa[i]['email'] + "</td>" +
                    "<td>" + (timeConverter(parseInt(dataa[i]['manu_date'] * 1000))) + "</td>" +
                    "<td><button class='open-transactionDialog' data-id='" + dataa[i]['product_id'] + "' data-target='gettransactiondetailssold' >Get Transaction Details </button</td>" +
                        "<td><a href='assets/Images/qrimages/"+ dataa[i]['product_id']+".png' download><img src='assets/Images/qrimages/"+ dataa[i]['product_id']+".png' alt='W3Schools' width='100' height='100'> </a></td>"+

                    "</tr>");
            }
            //     $('table > tbody  > tr').each(function (index, tr) {
            //   console.log(index);
            //   console.log(tr);
            // });
            console.log(dataa);

            // console.log(dataa[0]['bname']);
            // if((data[0])==true){
            //   // Materialize.toast('Record Inserted Successfully!', 5000);  
            //   swal("Good job!", "Record Inserted Successfully!", "success");
            //   // M.toast({html: 'Record Inserted Successfully!'});
            // }else{
            //   swal("Sorry!", "Product Already Exist", "error");
            //   // Materialize.toast('Record Insertion Failed!', 5000);  
            // };

            // alert(data); // show response from the php script.
        }
    });
    // });






</script>

</html>