<% if(session.user_id){ %>
  <!DOCTYPE html>
  <html lang="en">

  <%- include ('components/header.ejs') %>

    <body class="g-sidenav-show   bg-gray-100">
      <h1> </h1>

      <div class="min-height-300 bg-success position-absolute w-100"></div>
      <%- include ('components/leftsidenav.ejs') %>
        <main class="main-content position-relative border-radius-lg ">
          <%-include ('components/navbar.ejs') %>
            <%- include ('components/uppercards.ejs') %>
              <%- include ('components/rightsidenav.ejs') %>
                <%- include ('components/jsscripts.ejs') %>
                  <%- include ('components/addnewproductmodal.ejs') %>
                    <%- include ('components/addbatchproductmodal.ejs') %>
                    <%- include ('components/productdetailsmodal.ejs') %>
                      <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>


                      <script>
                        var length= "<%= weight.length %>";
                        console.log(length);
                        let hww= JSON.stringify(<%- JSON.stringify(weight) %>);
                        let hwww= '<%- weight %>';
                        //  hww= JSON.parse(hww);
                        hww=JSON.parse(hww);
                        hwww=JSON.stringify(hwww);
                        // hww=JSON.parse(hww);
                        for(let i=0;i<hww.length;i++){
                        $("#select").append(new Option(hww[i]['dname'], hww[i]['id'], true, false));
                        // console.log();
                      }
                      // console.log(hww.length);
                      // console.log(hwww);
                      // hww=JSON.parse('[' + hww.replace(/}{/g, '},{') + ']');
                      // hww= JSON.parse(hww);
                      // console.log(hww);
                        

                        // document.getElementsByClassName('loading')[0].style.visibility = 'hidden';
                        $(".addbatchproducthidden").hide();
                        $(".addnewproducthidden").hide();


                        let hidden = document.getElementById('hidethis');
                        let hidden1 = document.getElementById('spacehide');
                        let enlargediv = document.getElementById('product-details');


                        // hidden.style.display = 'none';


                        if (params.search('productdetails') > 0) {
                          // enlargediv.removeClass('medium');
                          // enlargediv.removeClass('large');
                          hidden.style.display = 'block';

                        } else {
                          hidden1.style.display = 'block';

                        }
                        console.log(params.search('productdetails'));


                      </script>
                      <script>
                        $('form').submit(function (e) {
                          e.preventDefault();
                          $('.loader').addClass('d-none');
                          let form = $(this);
                          let data = {};
                          $(this).find('input,select,textarea').each(function () {
                            data[$(this).attr('name')] = $(this).val();
                          });
                          // if($(this).attr('action')==""
                          if ($(this).attr('action') == "/addbatchproduct") {
                            // console.log(data);
                            $(".addbatchproducthide").hide();
                            // document.getElementsByClassName('loading')[0].style.visibility = 'block';
                            $(".addbatchproducthidden").show();


                          }
                          if ($(this).attr('action') == "/addnewproduct") {
                            $(".addnewproducthide").hide();
                            // document.getElementsByClassName('loading')[0].style.visibility = 'block';
                            $(".addnewproducthidden").show();

                          }
                          $('.loader').removeClass('d-none');
                          $.ajax({
                            url: $(this).attr('action'),
                            method: 'POST',
                            data: data,
                            dataType: "json",
                            success: function (data) {
                              console.log(data);

                              function gettime(timee) {
                                if(timee==0){
                                  return"-";
                                }
                                var a = new Date(timee * 1000);
                                var months = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
                                var year = a.getFullYear();
                                var month = months[a.getMonth()];
                                var date = a.getDate();
                                var hour = a.getHours();
                                var min = a.getMinutes();
                                var sec = a.getSeconds();
                                var time = date + ' ' + month + ' ' + year + ' ' + hour + ':' + min + ':' + sec;
                                return time;
                              }
                              // console.log(data);
                              //  document.getElementsByClassName('loading')[0].style.visibility = 'hidden';
                              $(".addbatchproducthide").show();
                              $(".addbatchproducthidden").hide();
                              let succ = data.successful;
                              let unsucc = data.unsuccessful;
                              if (data.addbatchproduct == "addbatchproduct") {
                               
                              

                                  

                                
///
                                  let msg = "<b> product Succesfully Inserted are-> <b>" + succ;


                                  let msg1 = " <b>product not Succesfully Inserted are-> <b>" + unsucc;

                                  Swal.fire({
                                    title: '<strong> <u>Amron Switches</u></strong>',
                                    icon: 'success',
                                    html:
                                      `${msg}<br>` + `${msg1}`
                                    ,
                                    showCloseButton: true,
                                    showCancelButton: true,
                                    focusConfirm: false,
                                    confirmButtonText:
                                      '<i class="fa fa-thumbs-up"></i> Great!',
                                    confirmButtonAriaLabel: 'Thumbs up, great!',
                                    cancelButtonText:
                                      '<i class="fa fa-thumbs-down"></i>',
                                    cancelButtonAriaLabel: 'Thumbs down'
                                  })
                                
                                


                                // swal("Good job!", "product added successfully->" + succ + "product not added successfully->" + unsucc, "success");
                              }

                              if (data.productdetails == true) {
                                if (data.success == false) {

                                  Swal.fire({
                                    title: '<strong> <u>Amron Switches</u></strong>',
                                    icon: 'warning',
                                    html:
                                      `Invalid Product Id Please Check Your Product Id.`
                                    ,
                                    showCloseButton: true,
                                    showCancelButton: true,
                                    focusConfirm: false,
                                    confirmButtonText:
                                      '<i class="fa fa-thumbs-up"></i> Great!',
                                    confirmButtonAriaLabel: 'Thumbs up, great!',
                                    cancelButtonText:
                                      '<i class="fa fa-thumbs-down"></i>',
                                    cancelButtonAriaLabel: 'Thumbs down'
                                  })
                               

                              } else {
                                $('#productdetailsmodal').modal('show');

                                $('#ppname').html( data.success[0]);
                                $('#rrcurrent').html( data.success[1]);
                                $('#ssoperation').html(data.success[2]);
                                $('#mmsize').html( data.success[3]);
                                $('#mmaterial').html(data.success[4]);
                                $('#cooo').html( data.success[5]);
                                $('#ppcolor').html( data.success[6]);
                                // $('#pweight').html(" Product Weight: " + data.success[7]);
                                // $('#plength').html("Product Length: " + data.success[8]);
                                $('#mmanudate').html(  gettime(data.success[7]));
                                $('#wwarr_start').html(  gettime(data.success[8]));
                                $('#wwarr_end').html( gettime(data.success[9]));
                                $('#pperiod').html( data.success[10]);
   
                                // hidden.style.display = 'block';
                                // if(data['status'] == true)
                              }
                              } else  {
                            $(".addnewproducthide").show();
                            $(".addnewproducthidden").hide();
                            let unsold = $('#unsoldnum').html();
                            console.log(unsold);
                            unsold++;
                            $('#addnewproductmodal').modal('hide');
                            $('#unsoldnum').html(unsold);
                            swal("Good job!", "Form Submitted Successfully.!", "success");
                          }
                          // form.trigger('reset');

                        }
                          ,
                          error: function (error) {
                            console.log(error);
                            // form.trigger('reset');
                            swal("Sorry!", "Cannot save form.!", "error");
                            $('.loader').addClass('d-none');

                          }
                              });
                            });
                      </script>


    </body>

  </html>

  <% }else{ %>
    <script> document.location.href = '/' </script>
    <% } %>